
ChequeExtenso/ChequeExtenso.UnitTest/obj/project.assets.json
ChequeExtenso/ChequeExtenso.UnitTest/obj/project.nuget.cache
ChequeExtenso/ChequeExtenso.UnitTest/obj/Debug/netcoreapp3.1/ChequeExtenso.UnitTest.csprojAssemblyReference.cache
ChequeExtenso/ChequeExtenso.UnitTest/obj/Debug/netcoreapp3.1/ChequeExtenso.UnitTest.assets.cache
ChequeExtenso/ChequeExtenso.UnitTest/obj/Debug/netcoreapp3.1/ChequeExtenso.UnitTest.AssemblyInfoInputs.cache
ChequeExtenso/ChequeExtenso.UnitTest/obj/ChequeExtenso.UnitTest.csproj.nuget.dgspec.json
ChequeExtenso/ChequeExtenso.UnitTest/obj/ChequeExtenso.UnitTest.csproj.nuget.g.props
ChequeExtenso/ChequeExtenso.UnitTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ChequeExtenso/ChequeExtenso.UnitTest/obj/ChequeExtenso.UnitTest.csproj.nuget.g.targets
ChequeExtenso/ChequeExtenso.UnitTest/obj/Debug/netcoreapp3.1/ChequeExtenso.UnitTest.AssemblyInfo.cs
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/ChequeExtenso.ConsoleApp.csproj.nuget.g.props
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/project.nuget.cache
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/project.assets.json
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.Domain.csprojAssemblyReference.cache
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.Domain.assets.cache
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.Domain.AssemblyInfoInputs.cache
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.Domain.AssemblyInfo.cs
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.ConsoleApp.csprojAssemblyReference.cache
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.ConsoleApp.assets.cache
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/ChequeExtenso.Domain.csproj.nuget.g.props
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/ChequeExtenso.Domain.csproj.nuget.g.targets
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.ConsoleApp.AssemblyInfo.cs
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.ConsoleApp.AssemblyInfoInputs.cache
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/ChequeExtenso.Domain.csproj.nuget.dgspec.json
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/ChequeExtenso.ConsoleApp.csproj.nuget.g.targets
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/ChequeExtenso.ConsoleApp.csproj.nuget.dgspec.json
ChequeExtenso/.vs/ChequeExtenso/v16/.suo
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.Domain.csproj.CoreCompileInputs.cache
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.Domain.csproj.FileListAbsolute.txt
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.Domain.dll
ChequeExtenso/ChequeExtenso.ConsoleApp/obj/Debug/netcoreapp3.1/ChequeExtenso.Domain.pdb
ChequeExtenso/ChequeExtenso.UnitTest/obj/Debug/netcoreapp3.1/ChequeExtenso.UnitTest.pdb
ChequeExtenso/ChequeExtenso.UnitTest/obj/Debug/netcoreapp3.1/ChequeExtenso.UnitTest.genruntimeconfig.cache
ChequeExtenso/ChequeExtenso.UnitTest/obj/Debug/netcoreapp3.1/ChequeExtenso.UnitTest.dll
ChequeExtenso/ChequeExtenso.UnitTest/obj/Debug/netcoreapp3.1/ChequeExtenso.UnitTest.csproj.FileListAbsolute.txt
ChequeExtenso/ChequeExtenso.UnitTest/obj/Debug/netcoreapp3.1/ChequeExtenso.UnitTest.csproj.CoreCompileInputs.cache
ChequeExtenso/ChequeExtenso.UnitTest/obj/Debug/netcoreapp3.1/ChequeExtenso.UnitTest.csproj.CopyComplete
ChequeExtenso/.vs/ChequeExtenso/v16/TestStore/0/000.testlog
ChequeExtenso/.vs/ChequeExtenso/v16/TestStore/0/testlog.manifest
